<!-- helpdesk/templates/partials/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'landing' %}">HelpDesk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'knowledgebase:article_list' %}">Knowledge Base</a>
                </li>
            </ul>
            <div class="d-flex">
                {% if user.is_authenticated %}
                    <a href="{% url 'helpdesk:dashboard' %}" class="btn btn-outline-light me-2">Dashboard</a>
                    <a href="{% url 'users:logout' %}" class="btn btn-light">Logout</a>
                {% else %}
                    <a href="{% url 'users:login' %}" class="btn btn-outline-light me-2">Login</a>
                    <a href="{% url 'users:register' %}" class="btn btn-light">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>